

@for (CardDetails of CardDetails; track CardDetails.id){

<div class="card pt-0 relative w-825 h-151 top-0 left-450 bg-white rounded-lg shadow-sm p-6 mb-5 bg-card-card-bg ">

  <div class="top-0 py-8">
    <button class="w-10 h-12 rounded-lg font-bold cursor-default bg-card-counter-btn-bg border-card-counter-arrow-stroke text-card-counter-btn-text " >
      <img src="assets/arrow.svg" alt="" srcset="" class="w-3 ml-3 top-5 cursor-pointer text-13 font-bold " (click)="increaseNumber(CardDetails.id)"  >
      <p class="text-13 font-bold mt-1 " >{{CardDetails.click}}</p>

    </button>
  </div>

  <div >
  <div class="comment ml-80 space-x-3 top-16 absolute size-10">
    <div>
      <img src="assets/chat.svg" alt="" srcset="" id="chat" class="mt-1 ">
</div>
    <div class="font-semiBold  caret-card-card-comment-num-text ">{{CardDetails.comment}}</div>
  </div>



  <div class="inner-card">

    <h3 class="text-card-card-head-text text-18 font-bold ">{{CardDetails.head}}</h3>
    <p class="text-card-card-para-text text-16">{{CardDetails.paragraph}}</p>

    <div class="pt-5">
      <button class="w-158 h-10 right rounded-lg text-black pl-5 pr-5 bg-gray-100   bg-card-card-btn-bg text-card-card-btn-text font-semiBold text-13">{{CardDetails.btnNumber}}</button>
    </div>




  </div>
</div>

<div>

</div>

</div>
}
